# development, staging, production, local
WP_ENV=development

# Site Address (URL) - URL of the site
WP_HOME='http://example.com'
WP_SITEURL="${WP_HOME}"

DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
DB_HOST=localhost
DB_PREFIX=w_
DB_SSL=false

# Authentication Unique Keys and Salts
SECRET_KEY='generateme'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

# Force SSL, INDEX & version
FORCE_SSL_ADMIN=true
DISALLOW_INDEXING=false
FORCE_VERSION=false

# Set the PHP memory limit
WP_MEMORY_LIMIT=512M
WP_MAX_MEMORY_LIMIT=512M

# Set the maximum number of post-revisions to keep
WP_POST_REVISIONS=2
EMPTY_TRASH_DAYS=15
AUTOSAVE_INTERVAL=120

# WordPress core auto-update
AUTOMATIC_UPDATER_DISABLED=false
WP_AUTO_UPDATE_CORE=true

# FluentSMTP
#FLUENTMAIL_GMAIL_CLIENT_ID='your_gmail_client_id_here'
#FLUENTMAIL_GMAIL_CLIENT_SECRET='your_gmail_client_secret_here'

FLUENTMAIL_SMTP_USERNAME=your_smtp_username@example.com
FLUENTMAIL_SMTP_PASSWORD='your_smtp_password_here'

# HDA Plugin - Emergency Login Security Bypass
# Use these ONLY when locked out due to OTP/email issues!
# Remember to remove/set to false after recovery.
#HDA_DISABLE_OTP=true
#HDA_DISABLE_LOGIN_SECURITY=true
#HDA_DISABLE_LOGIN_CAPTCHA=true

# GitHub access token for private repository.
HDA_GITHUB_TOKEN='your_github_token_here'
HDAT_GITHUB_TOKEN='your_github_token_here'
