/* accordion/fx-accordion.scss - Lazy-loaded with fx-accordion.js */

@use '../../../../styles/utils/variables' as vars;
@use '../../../../styles/utils/mixins' as mixin;

// ============================================================================
// ACCORDION - Enhanced styles (loaded with JS)
// ============================================================================

.accordion {
	.accordion-item {
		border: 1px solid transparent;

		.accordion-title svg {
			right: 0;
			top: 50%;
			translate: 0 -50%;
			color: var(--color-body);

			&.minus {
				display: none;
			}
			&.plus {
				display: block;
			}
		}

		.accordion-content {
			pointer-events: none;
			padding-top: 0;
			transition: max-height vars.$transition-base linear;
		}

		&.is-active {
			.accordion-title svg {
				&.minus {
					display: block;
				}
				&.plus {
					display: none;
				}
			}

			.accordion-content {
				max-height: min-content;
				opacity: 1;
				padding-top: 20px;
				pointer-events: auto;
				transition:
					opacity vars.$transition-fast ease,
					max-height vars.$transition-slow linear;
			}
		}
	}

	&[disabled] .accordion-title {
		cursor: not-allowed;
	}
}
