/* partials/_header.scss */

@use '../utils/variables' as vars;
@use '../utils/functions' as func;
@use '../utils/mixins' as mixin;

// ============================================================================
// HEADER STYLES
// ============================================================================

// ============================================================================
// SITE HEADER
// ============================================================================

// ============================================================================
// ADMIN BAR ADJUSTMENTS
// ============================================================================

body.admin-bar .site-header:not(.absolute) {
	top: 32px;

	@include mixin.mq-max-width(782px) {
		top: 46px;
	}

	@include mixin.mq-max-width(600px) {
		top: 0;
	}
}

// ============================================================================
// MAIN NAVIGATION
// ============================================================================
